@media screen and (min-width:401px){
    body {
        background-color: whitesmoke;
        color: black;
        font: 1em / 1;
        text-align: center;
        font-family: 'Montserrat', 'Genova', 'Times new roman';
    }

    .concerts1 {
        width: 49vw;
        height: 70px;
        overflow: hidden;
        background-color: brown; 
        margin-top: 10px;
        margin-bottom: 2px;
    }
        .concerts1:hover{
            height: fit-content;
        }

    .concerts2 {
        width: 49vw;
        height: 70px;
        overflow: hidden;
        background-color: rgb(208, 130, 62); 
        margin-left: 49vw;
        margin-top: 2px;
        margin-bottom: 2px;
    } 
        .concerts2:hover{
            height: fit-content;
        }

    nav {
        background-color: rgb(167, 71, 27);
        padding: 20px;
        position: sticky;
        top: 0%;
        bottom: 10%;

    }

    nav ul {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        justify-content: space-evenly;
    }

    #pageTitle{
        font-family:'Montserrat', 'Genova', 'Times new roman';
        font-weight: 100;
        width: 100%;
        height: 100%;
        color: brown;

    }
    }

    @media screen and (max-width:400px){
        body {
            background-color: whitesmoke;
            color: black;
            font: 1em / 1;
            text-align: center;
            font-family: 'Montserrat', 'Genova', 'Times new roman';
        }
        
        .concerts1 {
            width: 49vw;
            height: 70px;
            overflow: hidden;
            background-color: brown; 
            margin-top: 10px;
            margin-bottom: 2px;
        }
            #concerts1:hover{
                height: fit-content;
            }
        
        .concerts2 {
            width: 49vw;
            height: 70px;
            overflow: hidden;
            background-color: rgb(208, 130, 62); 
            margin-left: 49vw;
            margin-top: 2px;
            margin-bottom: 2px;
        } 
            .concerts2:hover{
                height: fit-content;
            }
        
        nav {
            background-color: rgb(167, 71, 27);
            padding: 20px;
            position: sticky;
            top: 0%;
            bottom: 10%;
        
        }
        
        nav ul {
            margin: 0;
            padding: 0;
            list-style: none;
            display: flex;
            justify-content: space-evenly;
        }
        
        #pageTitle{
            font-family:'Montserrat', 'Genova', 'Times new roman';
            font-weight: 100;
            width: 100%;
            height: 100%;
            color: brown;
        
        }
    }